<div class="container-fluid">

  <!-- Header -->
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="assets/logo.png" width="50" height="50" class="d-inline-block align-top" alt="IoTMonitorLogo">
    </a>
  </nav>
  <!-- Header -->

  <!-- Current Measure -->
  <app-current-measure></app-current-measure>
  <!-- Current Measure -->

  <!-- Live Data -->
  <app-live-data></app-live-data>
  <!-- Live Data -->

  <!-- Charts -->
  <app-interval-measure></app-interval-measure>
  <!-- Charts -->

</div>