<div class="container-fluid">

  <!-- Header -->
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand ml-5" href="#">
      <img src="assets/logo.png" width="70" height="70" class="d-inline-block align-top" alt="IoTMonitorLogo">
    </a>
    <div class="navbar-brand mr-5">IoTMonitor</div>
  </nav>
  <!-- Header -->

  <!-- Current Measure -->
  <app-current-measure></app-current-measure>
  <!-- Current Measure -->

  <!-- Live Data -->
  <app-live-data></app-live-data>
  <!-- Live Data -->

  <!-- Charts -->
  <app-interval-measure></app-interval-measure>
  <!-- Charts -->

  <!-- Footer -->
  <footer class="footer mt-auto py-3 bg-dark">
    <div class="container">
      <span class="text-light">2019 - IoTMonitor by Jerry Henríquez - <a href="https://github.com/JerryJHC/IoTMonitor_UI" target="_blank">Proyecto en GitHub</a></span>
    </div>
  </footer>
  <!-- Footer -->

</div>