<div class="container">
  <div class="d-flex flex-row">

    <!-- DateTime -->
    <h3 class="text-left">
      Actualizado : {{ currentMeasure.datetime }}
    </h3>
    <!-- DateTime -->

    <!-- Refresh button -->
    <button class="btn btn-primary ml-5" type="button" (click)="getLatestMeasures()">
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" [ngClass]="setClasses()"></span>
      Recargar
    </button>
    <!-- Refresh button -->
  </div>

  <!-- Measures -->
  <div class="d-flex flex-row">
    <div class="p-2">Temperatura : <strong>{{ currentMeasure.temperature }} ºC</strong></div>
    <div class="p-2">Humedad : <strong>{{ currentMeasure.humidity }} %</strong></div>
    <div class="p-2">Presión : <strong>{{ currentMeasure.pressure }} mb</strong></div>
  </div>
  <!-- Measures -->

</div>